@charset "utf-8";
*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: black;}


body{
    font-size: 16px;
    color: #666;
    line-height: 120%;
    height: 5000px;
    font-family: "font_ns",sans-serif;

}
.header{
    width: 100%;
    height: 164px;
    border-top: 5px solid #009223;
    border-bottom: 1px solid #ddd;

}

.header .header-wrap{
    margin: 0 auto;
    width: 1170px;
    height: 100%;
    position: relative;
}

.header .header-wrap .logo{
    text-align: center;
    margin-top: 35px;
}

.header .etc-menu{
    position: absolute;
    right: 25px;
    top: 5px;
}

.header .etc-menu ul{
    overflow: hidden;
}

.header .etc-menu ul li{
    float: left;
    position: relative;
}

.header .etc-menu ul li a{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    font-weight: normal;
    color: #666;
}

.header .etc-menu ul li:nth-child(2){
    margin-left: 30px;
}

.header .etc-menu ul li:nth-child(2)::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #ddd;
    top: 50%;
    left: -16px;
    margin-top: -2px;

}

.header .etc-menu ul li:nth-child(3) a {
    font-size: 0;
    background: url("../images/subway/icon_utill_global.png");
    width: 30px;
    height: 30px;
    margin-left: 15px;
    vertical-align: middle;
}

.header .nav{
    width: 100%;
    margin-top: 12px;
}

.header .nav ul{
    overflow: hidden;
    width: 990px;
    margin: 0 auto;
    transition: 0.2s;
}

.header .nav ul li{
    float: left;
    height: 77px;
    line-height: 77px;
    width: 165px;
    text-align: center;
}

.header .nav ul li a{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.03em;
    color: #292929;
    display: inline-block;
    width: 100%;
}

.header .nav ul li.on a{
    color: #009223;
}
.header .submenu{
    width: 100%;
    position: relative;
    top: -34px;
    background-color: #fff;
    transition: 0.02s;
    height: 0;
    overflow: hidden;
    z-index: 3;

}

.header .submenu .submenu-wrap{
    margin: 0 auto;
    width: 1170px;
}

.header .submenu .submenu-wrap .sub-wrap{
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
}

.header .submenu ul{
    float: left;
    text-align: center;
    width: 165px;
    padding-top: 20px;
}

.header .submenu ul li{
    width: 100%;
    height: 35px;
    line-height: 120%;
    transition: 0.2s;
}

.header .submenu ul li a{
    padding: 8px 0 9px;
    display: inline-block;
    width: 100%;
    color: #666;
    font-size: 15px;
    letter-spacing: -0.05em;
}

.header .submenu ul li:hover a{
    color: #009223;
    text-decoration: underline;
}

.header .submenu ul li.on{
    opacity: 1;
}

.header .submenu.on{
    height: 260px;
}

.slide-section{
    width: 100%;
    overflow: hidden;
}

.slide-section > ul{
    width: 500%;
}

.slide-section > ul li{
    float: left;
    width: 10%;
    position: relative;
    height: 440px;
    font-size: 0;
}

.slide-section > ul li img{
    width: 100%;
    height: 440px;
}

.slide-section .indicator{
    width: 1200px;
    margin: 0 auto;
    height: 440px;
    position: relative;
    /* background-color: #aaa; */
}

.slide-section .indicator ul{
    position: absolute;
    right: 15px;
    bottom: 50px;
    z-index: 99;
}

.slide-section .indicator ul li{
    float: left;
    margin: 0 5px;
}

.slide-section .indicator ul li a{
    font-size: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 30px;
    transition: 0.5s;
}

.slide-section .indicator ul li a.on{
    background-color: #ffc300;
    width: 30px;
}

.quick-menu{
    width: 1170px;
    margin: 0 auto;
    z-index: 5;
    position: relative;
    margin-top: -30px;
}

.quick-menu ul{
    float: right;
}

.quick-menu ul li{
    float: left;
    text-align: center;
    width: 300px;
    height: 80px;
}

.quick-menu ul li a{
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    padding-top: 27px;
}

.quick-menu ul li:nth-child(1){
    background-color: #ffce32;
    border-radius: 30px 0 0 0;
    letter-spacing: -0.02em;

}

.quick-menu ul li:nth-child(1) a{
    color: #292929;
}

.quick-menu ul li:nth-child(1) a::before{
    content: "";
    width: 24px;
    height: 30px;
    background: url("../images/subway/icon_map.png") 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    padding-right: 13px;
    position: relative;
    top: -2px;
}

.quick-menu ul li:nth-child(2){
    background-color: #009223;
    letter-spacing: -0.06em;
    border-radius: 0 0 30px 0;
}

.quick-menu ul li:nth-child(2) a{
    color: #fff;
}

.quick-menu ul li:nth-child(2) a::before{
    content: "";
    width: 34px;
    height: 30px;
    display: inline-block;
    background: url("../images/subway/icon_franchise.png") 0 0 no-repeat;
    padding-right: 13px;
    position: relative;
    top: -2px;
    vertical-align: middle;
}

.subway-menu{
    background-color: #fff;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 60px;
    height: 560px;
}

.subway-menu .menu-list{
    width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 33px;
    overflow: hidden;
}

.subway-menu .menu-list h3{
    float: left;
    color: #292929;
    font-size: 40px;
    font-family: "font_sw",serif;
    height: 60px;
    padding: 32px 0 0 25px;
    margin-bottom: 1px;
    background: url("../images/subway/bul_tit.png") 0 12px no-repeat;
}

.subway-menu .menu-list ul{
    float: right;
    overflow: hidden;
    margin-top: 44px;
}

.subway-menu .menu-list ul li{
    float: left;
    position: relative;
    padding-left: 25px;
    margin-left: 23px;
    font-weight: 300;
}

.subway-menu .menu-list ul li:not(:nth-child(1))::after{
    content: "";
    width: 1px;
    height: 15px;
    background-color: #ddd;
    left: 0;
    position: absolute;
    top: 3px;

}

.subway-menu .menu-list ul li a{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    letter-spacing: -0.03em;

}

.subway-menu .menu-list ul li.on a{
    color: #009223;
    font-weight: bold;
}

.subway-menu .menu-content{
    width: 100%;
    position: absolute;
    height: 320px;
    overflow: hidden;
    /* background-color: #ddd; */

}

.subway-menu .menu-content .menu-content-wrap{
    width: 1200px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    display: none;
    
}

.subway-menu .menu-content .menu-content-wrap:nth-child(1){
    display: block;
}

.subway-menu .menu-content .menu-content-wrap .menu-wrap{
    width: 100%;
    height: 100%;
    margin-top: -15px;
    overflow: hidden;
    
}

.subway-menu .menu-content .menu-content-wrap .menu-wrap .menu-area{
    width: 200%;
    position: relative;
}

.subway-menu .menu-content .menu-content-wrap .menu-wrap .menu-area .menu-box{
    float: left;
    width: 260px;
    height: 320px;
    margin-left: 30px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.subway-menu .menu-content .menu-content-wrap .menu-wrap .menu-area .menu-box img{
    width: 100%;
    height: 182px;
}
.subway-menu .menu-content .menu-content-wrap .menu-wrap .menu-area .menu-box::after{
    content: "";
    width: 98px;
    height: 98px;
    position: absolute;
    background: url("../images/subway/btn_more.png") 0 0 no-repeat;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -42px;
    opacity: 0;

}

.subway-menu .menu-content .menu-content-wrap .menu-wrap .menu-area .menu-box:hover::after{
    opacity: 1;
}

.subway-menu .menu-content .menu-content-wrap .menu-wrap .menu-area .menu-box:hover img{
    width: 340px;
    height: 238px;
}

.subway-menu .menu-content .menu-content-wrap .menu-wrap .menu-area .menu-box:hover p{
    display: none;
}
.subway-menu .menu-content .menu-content-wrap .menu-wrap .menu-area .menu-box:hover h3{
    font-size: 22px;margin-top: 10px;
}
.subway-menu .menu-content .menu-content-wrap .menu-wrap .menu-area .menu-box h3{
    color: #292929;
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.subway-menu .menu-content .menu-content-wrap .menu-wrap .menu-area .menu-box p{
    color: #999;
    font-size: 13px;
    letter-spacing: -0.04em;
    line-height: 21px;
    width: 260px;
    margin: 0 auto;
}

.subway-menu .menu-content .arrow a{
    font-size: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 113px;
    overflow: hidden;
    background: url("../images/subway/icon_event_slider_arr.png") 0 0 no-repeat;

}

.subway-menu .menu-content .arrow a:nth-child(1){left: -202px;}
.subway-menu .menu-content .arrow a:nth-child(1):hover{background-position-y: 100%;}
.subway-menu .menu-content .arrow a:nth-child(2){right: -201px; background-position: 100% 0;}
.subway-menu .menu-content .arrow a:nth-child(2):hover{background-position-y: 100%;}

.content{
    width: 100%;
    background: url("../images/subway/bg_content.gif") 0 -30px;
}

.content .content-wrap{
    width: 1280px;
    margin: 0 auto;
    padding: 80px 0;
    overflow: hidden;

}

.content .content-wrap .content-top{
    width: 100%;
    height: 300px;

}

.content .content-wrap .content-top .content-amused{
    width: 400px;
    height: 300px;
    float: left;
    margin-left: 55px;
    background: url("../images/subway/bg_utilization.png");
}

.content .content-wrap .content-top .content-amused h3{
    color: #fff;
    margin-left: 39px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.02em;
}

.content .content-wrap .content-top .content-amused h3:nth-child(1){
    margin: 38px 0 0 39px;
    letter-spacing: -0.03em;
}

.content .content-wrap .content-top .content-amused a{
    display: block;
    width: 92px;
    height: 36px;
    line-height: 36px;
    border: 2px solid #ddd;
    border-radius: 20px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin: 100px 0 0 41px;
}

.content .content-wrap .content-top .content-history{
    float: left;
    width: 825px;
    height: 300px;
    background: url("../images/subway/img_subway_history.png");
}

.content .content-wrap .content-top .content-history h3{
    color: #fff;
    margin-left: 400px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.02em;
}

.content .content-wrap .content-top .content-history h3:nth-child(1){
    margin-top: 38px;
}

.content .content-wrap .content-top .content-history a{
    display: block;
    width: 128px;
    height: 36px;
    line-height: 36px;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin: 100px 0 0 410px;
}

.content .content-bottom{
    width: 100%;
    height: 300px;
    margin: 30px 0 0 55px;
}

.content .content-bottom .content-new{
    background-color: #fff;
    width: 870px;
    float: left;
    height: 300px;
    border-radius: 30px 0 30px 0;
}

.content .content-bottom .content-new .title{
    float: left;
    margin: 75px 0 0 60px;
}

.content .content-bottom .content-new .title p{
    margin-top: -9px;
    text-align: center;
    line-height: 26px;
    letter-spacing: -0.03em;
}

.content .content-bottom .content-new .title p:nth-child(3){
    line-height: 44px;
}

.content .content-bottom .content-new .title h3{
    color: #292929;
    font-size: 30px;
    padding: 26px 0 0 25px;
    font-weight: bold;
    font-family: "font_sw",serif;
    height: 60px;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-image: url("../images/subway/bul_tit.png");
}

.content .content-bottom .content-new .text{
    float: left;
    width: 50%;
    margin: 76px 0 0 133.5px;
}

.content .content-bottom .content-new .text ul li:not(:nth-child(1)){
    margin-top: 21px;
}

.content .content-bottom .content-new .text ul li a{
    display: inline-block;
    font-size: 16px;
    color: #292929;
    position: relative;
    letter-spacing: -0.03em;
}

.content .content-bottom .content-new .text ul li a::after{
    content: "";
    width: 0%;
    height: 1px;
    background: #009223;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.2s;

}

.content .content-bottom .content-new .text ul li a:hover::after{
    width: 100%;
}

.content .content-bottom .content-new .text ul li a:hover{
    color: #009223;
}

.content .content-bottom .content-new .text > a{
    display: inline-block;
    color: #999;
    font-size: 14px;
    padding: 32px 0 7px;
}

.content .content-bottom .content-slide{
    float: left;
    width: 270px;
    height: 300px;
    background-image: url("../images/subway/[AdQUA]\ 브랜드\ 필름\ 영상\ 이미지\ 배너_20220214110854344.jpg" );
    margin-left: 30px;
    border-radius: 0 30px 0 30px;
    position: relative;
}

.content .content-bottom .content-slide .indicator{
    position: absolute;
    right: 20px;
    top: 20px;

}

.content .content-bottom .content-slide .indicator ul li{
    font-size: 0;
    width: 30px;
    height: 10px;
    background-color: #ffc300;
    border-radius: 30px;
}

.footer-menu{
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.footer-menu .menu-wrap{
    width: 1035.97px;
    margin: 0 auto;
    height: 70px;
}

.footer-menu .menu-wrap .menu-item{
    float: left;
    margin-left: 80px;
    padding-left: 90px;
    height: 100%;
    position: relative;
}

.footer-menu .menu-wrap .menu-item:nth-child(1){margin-left: 0;width: 125.23px;}
.footer-menu .menu-wrap .menu-item:nth-child(2){width: 113.53px;}
.footer-menu .menu-wrap .menu-item:nth-child(3){width: 78.09px;}
.footer-menu .menu-wrap .menu-item:nth-child(4){width: 119.11px;}

.footer-menu .menu-wrap .menu-item .icon{
    background: url("../images/subway/icon_quickmenu.png") 0 0 no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;

}
.footer-menu .menu-item:nth-child(2) .icon{
    background-position-x: -70px;
}
.footer-menu .menu-item:nth-child(3) .icon{
    background-position-x: -140px;
}
.footer-menu .menu-item:nth-child(4) .icon{
    background-position-x: -210px;
}

.footer-menu .menu-item p{
    font-weight: bold;
    font-size: 18px;
    color: #292929;
    text-align-last: left;
    letter-spacing: -0.72px;
    margin-bottom: 6px;
    margin-top: 12px;
}

.footer-menu .menu-item span{
    color: #999;
    font-size: 13px;
    text-align-last: left;
    display: block;
    font-weight: normal;
    letter-spacing: -0.26px;
}

.footer{
    background-color: #292929;
    color: #666;
    padding: 22px 0;
    position: relative;
}

.footer::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #3b3b3b;
    position: absolute;
    top: 59px;
}

.footer .footer-wrap{
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.footer .footer-top{
    margin-bottom: 25px;
}

.footer .footer-top ul{
    overflow: hidden;
}

.footer .footer-top ul li{
    float: left;margin-right: 29px;
    height: 18px;
    position: relative;
    top: -2px;

}

.footer .footer-top ul li a{
    color: #666;
    display: block;
    font-size: 14px;
    left: -0.05em;
    height: 18px;
}