@charset "utf-8";
*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none;color: #000;}

.side-nav{
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
}

.side-nav > ul{
    position: fixed;
    top: 50%;
    right: 204px;
    width: 35px;
    height: 315px;
    text-align: center;
    transform: translateY(-50%);
    transition: 1s;

}

.side-nav > ul.on{
    right: 0;
}

.side-nav > ul li{
    border: 1px solid #e6e6e6;
    width: 35px;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.side-nav > ul li:not(:nth-child(1)){
    border-top: 0;
}

.side-nav > ul li i{
    color: #b2b2b2;
    font-size: 14px;
    transition: 0.3s;
}

.side-nav > ul li:nth-last-child(1) i,
.side-nav > ul li:nth-last-child(2) i{
    font-size: 18px;
}

.side-nav > ul li:not(:nth-child(1)):hover::after{
    content: attr(data-text);
    position: absolute;
    right: 40px;
    width: 65px;
    font-size: 11px;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #262626;
    height: 10px;
    line-height: 10px;
    padding: 8px;
    margin-bottom: 3px;
    color: #555;
    border-radius: 3px;
}

.side-nav > ul li.menu:hover,
.side-nav > ul li.menu.on{
    background-color: #000;
}
.side-nav > ul li.menu:hover i,
.side-nav > ul li.menu.on i{
    color: #fff;
}

.side-nav .nav-wrap{
    position: fixed;
    right: 0;
    top: 0;
    transition: 1s;
    width: 164px;
    padding: 19px 20px 0;
    background-color: #fff;
    border-left: 1px solid #e6e6e6;
    height: 100%;   
}
.side-nav .nav-wrap.on{
    right: -204px;
}
.side-nav .nav-wrap .top-slide{
    width: 164px;
    height: 164px;
    overflow: hidden;
}

.side-nav .nav-wrap .top-slide ul{
    width: 200%;
    animation: slide 10s infinite ;
}

.side-nav .nav-wrap .top-slide ul li{
    float: left;
}

@keyframes slide{
    0%{margin-left: 0;}
    40%{margin-left: 0;}
    50%{margin-left: -100%;}
    90%{margin-left: -100%;}
    100%{margin-left: 0;}
}

.side-nav .nav-wrap .nav-content{
    display: inline-block;
    width: 164px;
    margin-top: 20px;
    overflow: hidden;
}

.side-nav .nav-wrap .nav-content ul li{
    width: 162px;
    text-align: center;
    border: 1px solid #e6e6e6;
    margin: 0 5px 5px 0;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
}

.side-nav .nav-wrap .nav-content ul li:hover{
    background-color: #e6e6e6;
}

.side-nav .nav-wrap .nav-content ul li a{
    width: 100%;
    display: inline-block;
    font-size: 11px;
}

.side-nav .nav-wrap .cs-center{
    width: 164px;
    margin-top: 30px;
    padding-top: 4px;
    overflow: hidden;
}

.side-nav .nav-wrap .bank-info{
    width: 164px;
    margin-top: 30px;
    padding-top: 4px;
    overflow: hidden;
}

.side-nav .nav-wrap h4{
    color: #3a3a3a;
    font-size: 10px;
    position: relative;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.side-nav .nav-wrap h4::after{
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 1px;
    background-color: #3a3a3a;
    left: 0;
}

.side-nav .nav-wrap p{
    padding-bottom: 7px;
    font-size: 11px;
    color: #858585;
    line-height: 20px;
    letter-spacing: -0.5px;

}

.side-nav .nav-wrap .cs-center p:nth-child(3){
    padding-top: 10px;
}
